---
layout: layout.liquid
title: Planetary playing cards
---
<h1>Planetary Playing Cards</h1>
<div class="container-grid">
  <div class="sun-box">
  <div class="sun-circle"></div>
  Sun
  <div class="sun-info">Type: G2V</div>
  </div>
  
 
  <main>
    <div class="grid-container">
      <div class="planet-box mercury">
        Mercury
        <div class="planet-circle"></div>
        <div class="planet-info"> 0.39 AU</div> 
     
      </div>
      <div class="planet-box venus">
        Venus
        <div class="planet-circle"></div>
        <div class="planet-info"> 0.72 AU</div> 
      </div>
      <div class="planet-box earth">
        Earth
        <div class="planet-circle"></div>
        <div class="planet-info">1 AU</div> 
      </div>
      <div class="planet-box mars">
        Mars
        <div class="planet-circle"></div>
        <div class="planet-info"> 1.52 AU</div> 
      </div>
      <div class="planet-box jupiter">
        Jupiter
        <div class="planet-circle"></div>
        <div class="planet-info"> 5.20 AU</div> 
      </div>
      <div class="planet-box saturn">
        Saturn
        <div class="planet-circle"></div>
        <div class="planet-info">9.58 AU</div> 
      </div>
      <div class="planet-box uranus">
        Uranus
        <div class="planet-circle"></div>
        <div class="planet-info">19.22 AU</div> 
        </div>
      <div class="planet-box neptune">
        Neptune
        <div class="planet-circle"></div>
        <div class="planet-info"> 30.05 AU</div> 
      </div>
    </div>
  </main>
</div>

