<!-- src/index.liquid -->

---
layout: layout.liquid
---

<div id="sun" class="card sun">
  <div class="circle"></div>
  <div class="planet-details">
    <div class="rectangle"></div>
    <p>Sun</p>
    <p>Type: G2V</p>
  </div>
</div>

<div id="mercury" class="card">
  <div class="circle"></div>
  <div class="planet-details">
    <div class="rectangle"></div>
    <p>Mercury</p>
    <p>AU: 0.39</p>
  </div>
</div>

<div id="venus" class="card">
  <div class="circle"></div>
  <div class="planet-details">
    <div class="rectangle"></div>
    <p>Venus</p>
    <p>AU: 0.72</p>
  </div>
</div>

<div id="earth" class="card">
  <div class="circle"></div>
  <div class="planet-details">
    <div class="rectangle"></div>
    <p>Earth</p>
    <p>AU: 1.00</p>
  </div>
</div>

<div id="mars" class="card">
  <div class="circle"></div>
  <div class="planet-details">
    <div class="rectangle"></div>
    <p>Mars</p>
    <p>AU: 1.52</p>
  </div>
</div>

<div id="jupiter" class="card">
  <div class="circle"></div>
  <div class="planet-details">
    <div class="rectangle"></div>
    <p>Jupiter</p>
    <p>AU: 5.20</p>
  </div>
</div>

<div id="saturn" class="card">
  <div class="circle"></div>
  <div class="planet-details">
    <div class="rectangle"></div>
    <p>Saturn</p>
    <p>AU: 9.58</p>
  </div>
</div>

<div id="uranus" class="card">
  <div class="circle"></div>
  <div class="planet-details">
    <div class="rectangle"></div>
    <p>Uranus</p>
    <p>AU: 19.22</p>
  </div>
</div>

<div id="neptune" class="card">
  <div class="circle"></div>
  <div class="planet-details">
    <div class="rectangle"></div>
    <p>Neptune</p>
    <p>AU: 30.05</p>
  </div>
</div>
