---
layout: layout.liquid
---


  <h1>Welcome to Planetary Playing Cards</h1>

  <!-- Include the planet cards using the partial -->
  <section class="main-content">
    {% include 'planet-card.liquid' %}
  </section>
{% endblock %}
