body {
    font-family: Helvetica, sans-serif;
    color: #EAE8FF;
    background: #2D3142;
    padding: 0 40px;
    text-align: center;
}

nav {
    margin: 40px auto 0 auto;
    width: 250px;
    border-radius: 50px;
    background: #212431;
}

nav ul {
    display: flex;
    justify-content: space-evenly;
    margin: 0;
    padding: 0;
}

nav ul li {
    list-style-type: none;
    margin: 0;
}

nav ul li a {
    display: inline-block;
    padding: 20px;
    color: #EAE8FF;
    text-decoration: none;
    font-size: 1.2em;
}

h1 {
    font-size: 8em;
    letter-spacing: -2px;
}

h1 strong {
    background: rgb(34,193,195);
    background: linear-gradient(45deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

img.about {
    opacity: 0.5;
}

/* Planetary Cards Styles */
.main-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.planet-card {
    margin: 20px;
    padding: 20px;
    background-color: #37474F; /* Example background color for the cards */
    border-radius: 10px;
    text-align: center;
}

.planet-avatar {
    width: 100px; /* Adjust size as needed */
    height: 100px; /* Adjust size as needed */
    background-color: #FFD54F; /* Example background color for the planet avatar */
    border-radius: 50%;
}

.planet-name {
    font-size: 1.5em;
    margin-top: 10px;
}

.planet-au {
    font-size: 1em;
    color: #B0BEC5; /* Example color for AU information */
}

/* Hover effect for planet cards */
.planet-card:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease;
}
